/*--------------------------*/
/*  Reset                   */
/*--------------------------*/
*{
  box-sizing: border-box;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
/* #31C3BD */
:root {
  --color-light-blue: #31C3BD; 
  --color-light-blue-hover: #65E9E4;
  --color-light-yellow: #F2B137;
  --color-light-yellow-hover: #FFC860;
  --color-dark-navy: #1A2A33;
  --color-semi-dark-navy: #1F3641;
  --color-silver: #A8BFC9;
  --color-silver-hover: #DBE8ED;
  --font-size-heading-l: 40px;
  --font-size-heading-m: 24px;
  --font-size-heading-s: 20px;
  --font-size-heading-xs: 16px;
  --font-size-body: 14px;
  --font-size-body-mobile: 12px;
  --letter-spacing-heading-l: 2.5px;
  --letter-spacing-heading-m: 1.5px;
  --letter-spacing-heading-s: 1.25px;
  --letter-spacing-heading-xs: 1px;
  --letter-spacing-body: 0.8px;
  --font-weight-heading: 700;
  --font-weight-body: 500;
  --box-shadow-color: rgba(0,0,0,0.4);
}


/*--------------------------*/
/*  General Styles          */
/*--------------------------*/
body{
  font-family: "Inter", sans-serif;
  background:#1A2A33;
  margin: 0;
  text-align: center;
  overflow-x: hidden;
  min-height: 100vh;
}

main{
  overflow-x: hidden;
}

p,
h1,
h2,
h3,
h4,
h5{
  margin: 0;
}

button,
textarea,
a,
input{
  font: inherit;
}

img{
  display: block;
}

button{
  background: transparent;
  border-radius: 1rem;
  color: inherit;
  border: none;
  display: block;
  cursor: pointer;
}

/*--------------------------*/
/*  Styles                  */
/*--------------------------*/

.main-container
{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  position: relative;
  overflow: hidden;
}

/* TOP */
.top{
  display: flex;
  width: 410px;
  margin-bottom: 20px;
  align-items: center;
}

/* XO logo */
.top-logo{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-right: 4.3rem;
}

.top-logo-img{
  width: 2rem;
}

/* current player display */
.current-player{
  padding: 0.7rem 1.8rem;
  width: 8rem;
  display: flex;
  box-shadow: black 2px 5px 3px;
  align-items: center;
  justify-content: center;
  background-color: #1F3641;
  border-radius: 8px;
  margin-right: 6.1rem;
}

.current-player-img{
  width: 1.5rem;
  margin-right: 10px;
}

.current-player-text{
  color: #A8BFC9;
  font-weight: 800;
}

/* restart button */
.restart-btn{
  background-color: #A8BFC9;
  padding: 0.8rem;
  border-radius: 10px;
  box-shadow: black 2px 5px 3px;
}

.restart-btn > img{
  transition: all 200ms ease;
}

.restart-btn:hover{
  background-color: #DBE8ED;
  cursor: pointer;
}

.restart-btn:active > img{
  transform: rotateZ(40deg);
}

/* Box component*/
.box{
  background-color: #1F3641;
  padding: 20px;
  border-radius: 10px;
  box-shadow: black 2px 5px 3px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 300ms ease;
}

.box--hover-img{
  opacity: 0;
  transition: all 450ms ease;
}

.box:hover .box--hover-img{
  opacity: 1;
}

/* Board component*/
.board{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.board--row{
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
}

.grid{
  display: grid;
  grid-template-columns: 8rem 8rem 8rem;
  grid-auto-rows: 8rem;
  gap: 15px;
  margin-bottom: 20px;
}

/* Bottom */
.bottom{
  display: flex;
  align-items: center;
  gap: 15px;
  text-align: center;
  font-family: 'Outfit', sans-serif;
}

.bottom-tile{
  width: 8rem;
  background: white;
  border-radius: 10px;
  padding: 10px 30px;
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.score{
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
}

#x-wins{
  background-color: #31C3BD;
}

#ties{
  background-color: #A8BFC9;
}

#o-wins{
  background-color: #F2B137;
}

/*--------------------------*/
/*  Menu Page               */
/*--------------------------*/
.menu{
  width: 550px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px auto;
  color: white;
  padding: 0;
}

.menu--logo{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 2.5rem 0;
  gap: 0.5rem;
}

.menu--logo-img{
  width: 2rem;
}

.menu--logo-img > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menu--choose-player{
  padding: 1rem;
  margin-inline: auto;
  width: 80%;
  background-color: #1F3641;
  border-radius: 2rem;
  margin-bottom: 2rem;
  box-shadow: 0 8px 0 rgba(0,0,0,0.4);
}

.menu--choose-player-title{
  color: #A8BFC9;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.menu--choose-player-toggle{
  padding: 0.5rem;
  display: flex;
  background: #1A2A33;
  border-radius: 1rem;
  width: 100%;
  margin-bottom: 1rem;
}

.menu--choose-player-btn{
  width: 50%;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  transition: all 300ms ease;
}

.menu--choose-player-icon-img{
  width: 2rem;
  height: 2rem;
}

.menu--choose-player-icon-img > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menu--reminder{
  color: #A8BFC9;
  opacity: 0.5;
  font-size: 0.9rem;
}

.menu--btn{
  width: 80%;
  background: white;
  color: #1A2A33;
  font-weight: bold;
  font-size: 1.3rem;
  padding: 1rem 2.5rem;
  margin-bottom: 1.5rem;
}

.menu--cpu-btn{
  background: #F2B137;
  box-shadow: 0px 8px 0px rgb(204 139 19);
  transition: all 300ms ease;
}

.menu--cpu-btn:hover{
  background: #FFC860;
}

.menu--player-btn{
  background: #31C3BD;
  box-shadow: 0px 8px 0px rgb(17 140 135);
  transition: all 300ms ease;
}

.menu--player-btn:hover{
  background: #65E9E4
}


/*---------------------------*/
/*     NOTIFICATION          */
/*---------------------------*/
.notification{
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.4);
  position: absolute;
  display: flex;
  align-items: center;
}

.notification-card{
  --height: 250px;
  height: var(--height);
  width: 100%;
  background-color: #1F3641; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5em;
  font-family: 'Outfit', sans-serif;
}

.notification--title{
  font-size: 2.5rem;
  color: #A8BFC9;
  letter-spacing: 0.1em;
}

.notification--btn-container{
  display: flex;
  gap: 1em;
  justify-content: center;
}

.notification--quit-btn{
  display: inline-block;
  background: #A8BFC9;
  padding: 1em;
  font-weight: bold;
  box-shadow: 0px 4px 0px rgb(107 137 151);
  letter-spacing: 0.1em;
  cursor: pointer;
  transition: background 300ms ease-in-out;
}

.notification--quit-btn:hover{
  background: #DBE8ED;
}

.notification--next-round-btn{
  display: inline-block;
  background: #F2B137;
  padding: 1em;
  font-weight: bold;
  box-shadow: 0px 4px 0px rgb(204 139 19);
  letter-spacing: 0.1em;
  cursor: pointer;
  transition: background 300ms ease-in-out;
}

.notification--next-round-btn:hover{
  background:#FFC860;
}




/*---------------------------*/
/*     MEDIA QUERIES         */
/*---------------------------*/

@media all and (max-width: 600px){
  .menu{
    width: 350px;
  }

  .top{
    width: 320px;
  }

  .grid{
    grid-template-columns: repeat(3, 6rem);
    grid-auto-rows: 6rem;
  }

  .bottom-tile{
    width: 6rem;
    font-size: 0.9rem;
    height: 5rem;
  }

  .top-logo{
    margin-right: 2.5rem;
  }

  .current-player{
    width: 6rem;
    margin-right: 4rem;
  }
}