/*--------------------------*/
/*  Reset                   */
/*--------------------------*/
*{
  box-sizing: border-box;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

body{
  font-family: "Inter", sans-serif;
  background:#1A2A33;
  margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5{
  margin: 0;
}

button,
textarea,
a,
input{
  font-family: inherit;
}

img{
  display: block;
}

/*--------------------------*/
/*  Utility Classes         */
/*--------------------------*/
.main-container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  overflow: hidden;
}


/*--------------------------*/
/*  Component Styles        */
/*--------------------------*/


/* TOP */
.top{
  display: flex;
  width: 410px;
  margin-bottom: 20px;
  align-items: center;
}

/* XO logo */
.top-logo{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-right: 4.3rem;
}

.top-logo-img{
  width: 2rem;
}

/* current player display */
.current-player{
  padding: 0.7rem 1.8rem;
  width: 8rem;
  display: flex;
  box-shadow: black 2px 5px 3px;
  align-items: center;
  background-color: #1F3641;
  border-radius: 8px;
  margin-right: 6.1rem;
}

.current-player-img{
  width: 1.5rem;
  margin-right: 10px;
}

.current-player-text{
  color: #A8BFC9;
  font-weight: 800;
}

/* restart button */
.restart-btn{
  background-color: #A8BFC9;
  padding: 0.8rem;
  border-radius: 10px;
  box-shadow: black 2px 5px 3px;
}

.restart-btn > img{
  transition: all 200ms ease;
}

.restart-btn:hover{
  background-color: #DBE8ED;
  cursor: pointer;
}

.restart-btn:active > img{
  transform: rotateZ(40deg);
}

/* Box component*/
.box{
  background-color: #1F3641;
  padding: 20px;
  border-radius: 10px;
  box-shadow: black 2px 5px 3px;
  width: 8rem;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box--hover-img{
  opacity: 0;
  transition: all 250ms ease;
}

.box:hover .box--hover-img{
  opacity: 1;
}

/* Board component*/
.board{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.board--row{
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
}

/* Bottom */
.bottom{
  display: flex;
  align-items: center;
  gap: 15px;
  text-align: center;
  font-family: 'Outfit', sans-serif;
}

.bottom-tile{
  width: 8rem;
  background: white;
  border-radius: 10px;
  padding: 10px 30px;
  font-size: 0.9rem;
}

.score{
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
}

#x-wins{
  background-color: #31C3BD;
}

#ties{
  background-color: #A8BFC9;
}

#o-wins{
  background-color: #F2B137;
}